<h1>angularx-qrcode library PoC</h1>

<qrcode
  [qrdata]="qrdata"
  [width]="qrwidth"
  [errorCorrectionLevel]="'M'"
  [elementType]="'svg'"
></qrcode>

<br />

<div class="text">
  <label>
    Generate a QR Code from a string:
    <input [(ngModel)]="qrdata" placeholder="name" />
  </label>
  <br />
  <br />
  <button (click)="increaseWidth()">Increase Width</button>
  <button (click)="decreaseWidth()">Decrease Width</button>
</div>

<h2>Usefull links:</h2>

<ul>
  <li>
    <a
      target="_blank"
      rel="noopener"
      href="https://github.com/Cordobo/angularx-qrcode"
      >Github: angularx-qrcode</a
    >
  </li>
  <li>
    <a
      target="_blank"
      rel="noopener"
      href="http://cordobo.com/2444-angular4-qrcode-generator-component/"
      >Tutorial</a
    >
  </li>
  <li>
    <a
      target="_blank"
      rel="noopener"
      href="https://www.npmjs.com/package/angularx-qrcode"
      >NPM</a
    >
  </li>
  <li>
    <a
      target="_blank"
      rel="noopener"
      href="https://angular.io/guide/aot-compiler"
      >AOT compilation</a
    >
  </li>
  <li>
    <a
      target="_blank"
      rel="noopener"
      href="https://github.com/Cordobo/angularx-qrcode/issues/5"
      >Server Side Rendering</a
    >
  </li>
</ul>
